.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    position: relative;
    
}

.container{
    display: flex;
    align-items:  center;
    justify-content: center;
    justify-items: center;

}

.cabecalho__menu-hamburguer{
    background-image: url("../imagens/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    display: inline-block;
}   

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../imagens/menu_black_24dp\ 1.svg");
    background-color: var(--azul);

}



.container__imagem{
    padding: 1em;
}

.container__botao:checked ~ .lista-menu{
    display: block;

}

.container__botao{
    display: none;

}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
        
}

.lista-menu__titulo , .lista-menu__item {
    background-color: var(--branco);
    padding: 1em 1em 1em 5em;
    width: auto;   
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    text-transform: uppercase;
    background: var(--azul-degrade);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
}

.container__titulo , .container__titulo--negrito, .opcoes, .container__texto{
    display: none;
}



@media screen and (min-width: 1024px){
    .container__titulo , .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        display: inline-block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }
    .container__titulo{
        font-weight: 400;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .container__imagem--transparente, .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
    }
    
    .opcoes__botao{
        display: none;
   
    }
    .lista-menu, .lista-menu__item{
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background-color: var(--azul);
        color: var(--branco);
    }
    
    .opcoes__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background-color: var(--azul);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);

    }
    
}

@media screen and (min-width: 1728px){

    .cabecalho{
        padding: 0 2em;
    }
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
    }

    .container__imagem{
        padding-right: 0em;

    }

    .opcoes{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
}
