hr{
    margin: 0;
}
.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo{
    font-size: 24px;
}

.rodape__container__listas{
    display: none;
}

@media screen and (min-width:1024px){

    .rodape{
        padding: 2em 2em;
    }
    .rodape__lista__titulo, .rodape__lista__item{
        font-size: 14px;
        margin-bottom: 2em;
    }


    .rodape__lista__titulo{
        color: var(--cinza-titulo);
    }
    .rodape__lista{
        margin: 0 2em;
    }
    .rodape__lista__item{
        margin:  1em 0;
        display: flex;
        align-items: center;
    }
    .rodape__lista__link{
        text-decoration: none;
        color: var(--cinza-link);
        margin-left: 1em;

        
    }

    .rodape, .rodape__container__listas{
        display: flex;
        justify-content: space-between;
    }

    
}


@media screen and (min-width: 1728px){
    .rodape {
        justify-content: center;
        gap: 83px;}

    .rodape__lista{
        border-left: 1px solid var(--cinza-link);
        padding: 1em;
    }
  
}
